@charset "UTF-8";

.header{
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:10;
    display:flax;
    background:white;
    height:60px;
    justify-content:space-between;
    align-items:center;    
    }

	.footer{
		height: 10%;
	}
	
	body{
		padding-top: 75px;
		margin-left:9%;
		margin-right:9%;
	}